.buildpath
.settings/
.project/
.fleet/
*.patch
.idea/
.git/
tmp/
custom/
vendor/
#*.lock
*.phar
*.log
*.tgz
*.txt
*.cache
.phpintel/
.env
#.phpstorm.meta.php
.DS_Store
.kite.php
bin/php-cs-fixer
node_modules/
